.fa-brands.fa-facebook{
    color: #087CEA;
}

.fa-brands.fa-twitter{
    color: #1A8DD8;
}

.fa-brands.fa-linkedin-in{
    color: #0A66C2;
}

.fa-brands.fa-whatsapp{
    color: #26D366;
}

.fa-brands.fa-telegram{
    color: #30A3E6;
}

.fa-brands.fa-github{
    color: #24292F;
}